body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.topo {
   background-image: url(img/banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 570px;
   width:100%;
   text-align: center;
   background: linear-gradient(rgba(0,0,0,1), rgb(5, 59, 139), rgb(0,0,0,01)), url(img/banner.png);
   background-blend-mode:color;
   background-attachment: fixed;
   border-top: 0px solid rgb(0, 140, 255);
   border-bottom: 1px solid rgb(0, 140, 255);
   border-left: 2px solid rgb(0, 140, 255);
   border-right: 2px solid rgb(0, 140, 255);
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
h1 {
    color:rgb(23, 96, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.topo p { 
     color: white;
     font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
}
.topo button {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    height: 50px;
    width: 265px;
    font-weight: bold;
    background-color:transparent;
    border: 2px solid rgb(0, 140, 255);
    color: rgb(8, 113, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.corpo {
    
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    text-align: center;
    border-top: 0px solid rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    border-left: 2px solid rgb(0, 140, 255);
    border-right: 2px solid rgb(0, 140, 255);
    
    
}
.corpo h2 {
    color:rgb(0, 140, 255);
    letter-spacing: 5px;
}
.sp p{
    font-weight: 100;
    background-color: rgb(70, 67, 67);
    width: 500px;
    color:white;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 40px;
    margin: auto auto 15px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.corpo strong {
    color: rgb(0, 140, 255);
}
.corpoo {
    background-image: url("img/woman-code.png") ;
    filter: blur(0.2px);
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-size:112%; 
    background-position: 10% 40%; 
    overflow: hidden;
    border-top: 0px solid rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    border-left: 2px solid rgb(0, 140, 255);
    border-right: 2px solid rgb(0, 140, 255);
    background-color: rgb(16, 69, 139);
    text-shadow: 1px 2px #09ccee;
    color: white;
}
h3 {
    position: relative;
    top: 70px;
    left: 100px;
    font-size: 25px;
}
.acabando {
    width: 100%;
    height: 800px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 0px solid rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    border-left: 2px solid rgb(0, 140, 255);
    border-right: 2px solid rgb(0, 140, 255);
    
}
.acabando h4 { 
    color: rgb(0, 140, 255);
    font-size: 25px;
    text-align: center;
}
.acabando p {
     width: 75%;
     color:white;
     font-size: 12px;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.fot {
    background-image: linear-gradient(rgb(0,0,0), rgb(0, 140, 255, 0.8));
    height: 100px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-size: 10px;
    border-top: 0px solid rgb(0, 140, 255);
    border-bottom: 2px solid rgb(0, 140, 255);
    border-left: 2px solid rgb(0, 140, 255);
    border-right: 2px solid rgb(0, 140, 255);
}
.fot img {
    width: 25%;
    height: 25%;
}
.fot a {
    color:rgb(91, 159, 236);
    text-decoration: none;
}
